<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>
<div class="container mt-5">
    <form action="/editar" method="post" enctype="multipart/form-data">
        <div class="card" style="background-color: #333; border: 2px solid #3498db; border-radius: 15px; box-shadow: 0px 0px 15px #3498db;">
            <div class="card-header" style="background-color: #3498db; color: #fff; border-radius: 10px 10px 0px 0px;">
                <h1 style="font-size: 24px; padding: 15px;">Modificar usuario</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= user.id%>">
                <input type="hidden" name="passwordViejo" id="passwordViejo" value="<%= user.password%>">
                <input type="hidden" name="saltViejo" id="saltViejo" value="<%= user.salt%>">
                <input type="hidden" name="fotoVieja" id="fotoVieja" value="<%= user.foto%>">
                <input class="form-control mb-3" type="text" value="<%= user.nombre%>" name="nombre" id="nombre" placeholder="Nombre" autofocus style="background-color: #ffffff; color: #000000; border: 1px solid #3498db; border-radius: 5px;">
                <input class="form-control mb-3" type="text" value="<%= user.usuario%>" name="usuario" id="usuario" placeholder="Usuario" style="background-color: #ffffff; color: #000000; border: 1px solid #3498db; border-radius: 5px;">
                <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Nuevo Password o en blanco para conservar" style="background-color: #caffca; color: #000000; border: 1px solid #3498db; border-radius: 5px;">
                <input class="form-control mb-3" type="file" name="foto" id="foto" style="background-color: #333; color: #caffca; border: 1px solid #444; border-radius: 5px;">
            </div>
            <div class="card-footer" style="background-color: #3498db; border-radius: 0px 0px 10px 10px;">
                <button type="submit" class="form-control btn btn-primary" style="background-color: #3498db; color: #fff; border: none; border-radius: 5px; padding: 10px;">Modificar usuario</button>
            </div>
        </div>
    </form>
</div>
<%- include ("../templates/pie")%>

